*{
    margin: 0;
    padding: 0;

}
.header{
    background-image: url(./Images/updated_Header@3x.png);
    background-position: 121px 100px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 750px;
    background-color:#e0e3e8;
     /* width: 100%;#354E57;
height: 782px; */
} 

.header-3{
    background-color: #e0e3e8;
    padding: 44px 85px 21px;
}
.header-content >div{
    display: inline;
}
.header-content ul li{
    display: inline;
    list-style: none;
    font-size: 12px;
    color: #354E57;
    letter-spacing: 0.8px;
}
.header-left{
    margin-top: 4px;
}
.header-left ul li{
    margin-right: 47px;
}
.header-center h3{
    font-size: 32px;
    color: #293D45;
    letter-spacing: 1.6px;
    margin-bottom: 25px;
}
.header-center ul li{
    margin-right: 63px;
    font-size: 16px;
    color: #354E57;
    font-weight: 500;
}
.header-right{
    text-align: right;
    margin-top: 4px;
}
.header-right ul li{
    margin-right: 40px;
}



/*image ovelay fade*/
/* hero image */
/* image text block */
.cont-1{
text-align: center;
font: normal normal medium 16px/20px Proxima Nova;
letter-spacing: 0px;
color: #F7F5E6;
background-color: rgb(168, 103, 5);
padding:  10px;
}
.header-nav{
    /* text-align: center; */
    background-color: yellow;
    justify-content: center;
}
.cont-4{
    text-align: center;
    padding:  10px ;
    border: 1px solid #547665;
    background-color: #EEF3F4;


}
.teaser-cont1{
    background-color:#547665 ;
    text-align: left;
    color: white;
    

}

.cont-5{
    background-color: #547665;
    text-align: center;
    /* width: 683px; */
    height: 731px;
    color: white;
    padding: 200px;

}
.cont-5 h6{
    text-align: left;
font: normal normal bold 40px/55px Proxima Nova;
letter-spacing: 0px;
color: #FFFFFF;

}
.cont-7{

 width: 690px;
    height: 700px;

}
.cont-6{
    background-color: #547665;
    text-align: center;
    width: 683px;
    height: 700px;
    color: white;
    padding: 200px;


}


.card-body {
    background-color: #F7F7F7;
    border-radius: 0px;
}

.card h6{
    font: normal normal bold 14px/17px Proxima Nova;
    color:  #2E2E22;
}

.card p{
    font: normal normal normal 12px/16px Proxima Nova;
    color: #2E2E22;
}

.card button{
    border: 1px solid black;
    border-radius: 0px;
    font-size: 12px;
}

.card i{
    font-size: 8px;
}

.card-img-top{
    width: 251px;
    height: 230px;

}
.image-blue-man{
    width: 683px;
    height: 731px;


}

.teaser-hand{
    background-image: url(Images/sincerely-media-CjHJbp3zInA-unsplash@3x.png);
    background-color: #354E57;
}


.card-title{
    font-size: 14px;
}

/* .adjust-img{

    float: right;
} */
.responsive {
    width: 100%;
    /* max-width: 683px; */
    }

.card span{
    height: 20px;
    width: 50px;
    color: #354E57;
    font-size: 12px;
    /* padding:8px 12px; */
    background:#f7f7f7;
    text-align: center;

}

.ingredients-2 h6{ 
    font-size:14px ;
}
.ingredients-2 h6{
    font-size: 12px;
    text-align: center;
}
#feature-banner{
    border-bottom: 1px solide black;
    padding-top: 58px;
    padding-bottom: 60px;
}

#feature-banner i{
    font-size: 26.87px;
}

#feature-banner h6{
    font-size: 16px;
}

#feature-banner a{
    font-size: 12px;
    color:  #354E57; 
    text-decoration: underline;
}


.ingedients-image{
    width: 271px;
    height: 271px;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#flour{
    background-image: url("./Images/imgpsh_fullsize_anim.png");
    background-repeat: no-repeat;
    height: 195px;
    background-position: -268px -802px;
}
#cacao2{
    background-image: url("./Images/imgpsh_fullsize_anim.png");
    background-repeat: no-repeat;
    height: 195px;
    background-position: 50px -4px;
}
#cacao1{
    background-image: url("./Images/imgpsh_fullsize_anim.png");
    background-repeat: no-repeat;
    height: 195px;
    background-position: 50px -520px;
}
#mint{
    background-image: url("./Images/imgpsh_fullsize_anim.png");
    background-repeat: no-repeat;
    height: 195px;
    background-position: -248px 4px;

}
#honey{
    background-image: url("./Images/imgpsh_fullsize_anim.png");
    background-repeat: no-repeat;
    height: 195px;
    background-position: -258px -516px;
}
#coconut-root{
    background-image: url("./Images/imgpsh_fullsize_anim.png");
    background-repeat: no-repeat;
    height: 195px;
    background-position: 46px -788px;
}

.image-ties{
    text-align: center;
    padding-top: 100px;
}

.feature-banner{

    padding: 100px;
    text-align: center;
}
.news-letter{
     font-size: 32px;
    padding-top: 35px ;
    padding-bottom: 35px;
    justify-content: center;
    text-align: left;
    padding-left: 137px;
    font: normal normal bold 32px Proxima Nova;
   color: #354E57;
}

.news-letter-2{
    text-align: left;
font: normal normal normal 16px Proxima Nova;
letter-spacing: 0px;
color: #354E57;
padding-top: 54px;
padding-bottom: 54px;
}

.vl{
    border-right: 100px solide black;
    height: 100px;
    /* background-color: yellow; */
    padding: 10px;
}
.footer{
    background-color:#354E57;
    color: white;
    text-align: center;
    padding-top: 150px;
}

.footer ul{
    margin-top: 0px;
    /* margin-left: 200px; */
    
}
.product-teaser ul li{
    display: inline;
    text-decoration: none;
    text-align: left;
    

}

.product-teaser{
    margin-top: 130px;
    padding-top: 30px;
    padding-bottom: 10px;
    
}


.footer ul li{
    list-style-type: none;
    text-align: left;

}

.footer ul li a{
    color: white;
    padding-right: 20px;
    font-size: 14px;
}

.footer-2 i{
    margin-left: 20px;
    margin-top: 40px;
}


.sub-footer ul li{
   font-size: 14px;
   text-align: left;
   font: normal normal normal 14px Proxima Nova;
   letter-spacing: 0px;
   color: #FFFFFF;
   padding: 3px 0px;
   /* width: 100%; */
  
}

.sub-footer ul li h6{
    font: normal normal 600 16px Proxima Nova;
letter-spacing: 0px;
color: #FFFFFF;
text-transform: uppercase;
padding-bottom: 15px;
}

.line-2{
    display: none;
}
@media only screen and ( max-width:375px){
    .hero .full-img{
        z-index:1;
    left: -182%;
    }
    
}
/* @media only screen and ( max-width:375px){
     .header{
        background-image: url(./Images/updated_Header@3x.png);
        background-position: -161px 100px;
        background-size: cover;
        background-repeat: no-repeat;
        height: 750px;
        background-color:#e0e3e8;
    }
    
} */

@media only screen and ( max-width:375px){
    .social-media i{
        float: left;
    }

}

@media only screen and ( max-width:375px){
    .subdiv div{
        display: none;
    }

}

@media only screen and ( max-width:375px){
    .btn:hover {
        padding-left: 25px;
        /* display: block; */
        background-color: white;
        width: 150px

    }

}
@media only screen and ( max-width:375px){
    .btn:hover i{
        display: block;
        display: inline;
        
    
    }

}


@media only screen and ( max-width:375px){
    .btn i{
        display: none;
    }

}

@media only screen and ( max-width:375px){
    .line{
        display: none;
    }
    
}

@media only screen and ( max-width:375px){
    .line-2 {
        display: block;
    }
    
}


.image-1:hover {
    content: url('./Images/acne_Cream@3x.png');
}

.text-2 {
    float: left;
    padding-left: 0px;
    text-decoration: underline;

}
.hero-2 {
    padding-top:400px;
   
}

/* .hero-2 h4,p{ 
    padding-left: 200px;
} */
.hero-banner-subdiv{
    position: absolute; 
    text-align: center;
    margin-top: 300px;
     padding: 0px 130px; 
    border: 1px solid black; 
    
}
 .header-banner{
     background-image:url(./Images/updated_Header@3x.png);
     height: 100px;
     }

  .leaf-img {
    position: absolute;
    left: 587px;
    top: 292px;
    z-index: 1;
    width:344px;
     height:378px;
  }
  .leaf-2-img {
    position: absolute;
    left: 814px;
    top: 306px;
    z-index: 1;
    width:235px;
     height:198px;
     background-color:transparent ;
  }
  .bot-img {
    position: absolute;
    left: 682px;
    top: 263px;
    z-index: 1;
    width:396px;
     height:506px;
     background-color:transparent ;
  } 

   .full-img{
     position: absolute;
      z-index: 1;
      left: 8%;
    /* top: 26%; */
    max-width: 0%;
  } 

  .full-img img{

      /* width: 100%; */
  }

  @media only screen and (max-width: 375px) {
    .header{
        background-image: url(./Images/updated_Header@3x.png);
        background-position: -616px 100px;
        background-size: cover;
        background-repeat: no-repeat;
        height: 750px;
        background-color:#E2E6E9;
         /* width: 100%;#354E57;
    height: 782px; */
    }
  }

 nav {
    position: absolute;
    z-index: 1;
    }
  /*.navbar{
    position: absolute;
} */

/* .leaf-img {
    position: absolute;
    left: -70px;
    top: 67px;
    z-index: 1;
    width:344px;
     height:333px;
    } 
.leaf-2-img {
        position: absolute;
        left: 190px;
        top: 45px;
        z-index: 1;
        width:221px;
         height:198px;
         background-color:transparent ;
      }

      .bot-img {
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: 1;
        width:404px;
         height:506px;
         background-color:transparent ;
      } */
      @media only screen and (max-width: 320px) {
        .full-img {
          justify-content: center;
        }
      }

      /* css */
      .newsletter{
        padding: 35px 0px;
    }
    .newsletter h5{
        font-size: 32px;
        font-weight: 700;
        color: #354E57;
        text-align: left;
    }
    .newsletter p{
        color: #354E57;
        font-size: 16px;
        font-weight: 400;
        text-align: left;
        padding: 30px 0px;
    }
    .newsletter-content button{
        border: none;
        background-color: #956A53;
        padding: 9px 23px;
        color: #FFFFFF;
    }
    .line{
        height: 115px;
        width: 1px;
        background-color: #354E57;
    }

    .teaser-content{
        color: #fff;
        background-color: #547665;
        padding: 115px 115px;
    }
    .teaser-content h1{
        font-size: 40px;
        font-weight: bold;
    }
    .teaser-content p{
        color: #EEF2F4;
        font-size: 16px;
        margin: 23px 0 55px;
    }
    .teaser-content button{
        color: #FFFFFF;
        border: 1px solid #FFFFFF;
        background-color: transparent;
        padding: 13px 55px;
        font-size: 14px;
    }
    .teaser-2 .bg-img{
        min-height: 100%;
        width: 100%;
        background-image: url(./Images/updated-images/sincerely-media-CjHJbp3zInA-unsplash-3.png);
        background-position: -100% 70%;
        background-repeat: no-repeat;
    }
     .card-1{
         background-image: url(./Images/updated-images/annie-spratt-hX_hf2lPpUU-unsplash-2@3x.png);
         width: 100%;
         background-repeat: no-repeat;
         background-size: cover;
         background-position: 0px -71px;
     }
